<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <span> <a href="/DashBoard">DashBoard |</a></span>
        <a href="/LogOut">Log Off</a>
        <div>
    <p>Name: @ViewBag.user.Name</p>
    <p>Alias: @ViewBag.user.Alias</p>
    <p>Email: @ViewBag.user.Email</p></div>
    <div>
        <p>Total number of post :@ViewBag.allPost</p>
        <p>Total number of likes:@ViewBag.allLikes</p>
    </div>
</body>
</html>